@font-face {
    font-family: 'RETROTECH';
    src: url('RETROTECHRegular.woff2') format('woff2'),
        url('RETROTECHRegular.woff') format('woff'),
        url('RETROTECHRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

